<h1>Search Flights</h1>

<%= form_for :flight, method: :get do |form| %>
    <div>
    <%= form.label :departure_airport_id, "Departure airport: " %>
    <%= select_tag(:departure_airport_id, options_for_select(@airport_options)) %>
    </div>
    <br>

    <div>
    <%= form.label :arrival_airport_id, "Arrival airport: " %>
    <%= select_tag(:arrival_airport_id, options_for_select(@airport_options)) %>
    </div>
    <br>

    <div>
    <%= form.label :num_tickets, "Amount of tickets: " %>
    <%= select_tag(:num_tickets, options_for_select(@num_ticket_options)) %>
    </div>
    <br>
    
    <div>
    <%= form.label :flight_date, "Flight date: " %>
    <%= select_tag(:flight_date, options_for_select(@flight_date_options)) %>
    </div>
    <br>

    <div>
        <%= form.submit "Search flights" %>
    </div>
<% end %>

<h1>Found Flights</h1>
<% @found_flights.each do |flight| %>
    <div>
        <%= Airport.find(flight.departure_airport_id).airport_code %><br>
        <%= Airport.find(flight.arrival_airport_id).airport_code %><br>
        <%= flight.start %><br>
        <%= flight.duration %>
    </div><br>
<% end %>